// Primary colors

$primary: hsl(231, 69%, 60%);
$secondary: hsl(0, 94%, 66%);

$navbar-light-hover-color: $secondary;

// Neutral colors

$light: hsl(229, 8%, 60%);
$dark: hsl(229, 31%, 21%);

// Navbar toggler icon

$navbar-light-toggler-icon-bg: url("../images/icon-hamburger.svg");
$navbar-light-toggler-border-color: 0;

// Typoghraphy

$font-family-sans-serif: "Rubik", sans-serif;
$font-weight-bold: 500;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
