@use "../custom" as *;

.hero {
  overflow-x: clip;
  .row {
    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }
  }
  .jumbotron {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
    .hero__btns {
      @include media-breakpoint-down(lg) {
        justify-content: center;
      }
    }
  }
  .col:last-child {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 30%;
      right: -25%;
      width: 35rem;
      height: 20rem;
      background-color: #5368df;
      z-index: -1;
      border-radius: 200px 0 0 200px;
    }
    img {
      width: 117% !important;
    }
  }
}
