@use "../custom" as *;

.navbar-toggler {
  box-shadow: 0 0 0 0 !important;
  .navbar-toggler-icon {
  }
}

nav {
  .overlay-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    .navbar-toggler-icon-close {
      z-index: 999;
      display: none;
      &.active {
        display: block;
      }
    }
    .myNavLogo {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 22;
  background: #252b46f5;
  .navbar-nav {
    & > * {
      margin-left: 0 !important;
    }
    text-align: center;
    transform: translateY(10rem);
  }
  .mynav_btn {
    background-color: transparent;
    border: 2px solid white;
    letter-spacing: 1px;
  }
  .nav-link {
    color: white !important;
    display: none;
    padding: 1rem 0;

    &:not(:first-child) {
      display: block;
      font-weight: 400;
      letter-spacing: 1px;
    }

    &:not(:last-child) {
      border-top: 1px solid $light;
    }

    &:nth-child(4) {
      border-bottom: 1px solid $light;
      margin-bottom: 2rem !important;
    }
  }
}
