@use "../custom" as *;

.subscribe {
  form {
    width: 100%;
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
    button {
      margin: 0 !important;
      width: fit-content;
      @include media-breakpoint-down(md) {
        width: 100% !important;
      }
    }
  }
}
